---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-content {
    text-align: justify;
}

.footer-col-1 {
    text-align: left;
}

.footer-col-2 {
    text-align: center;
}

.footer-col-3 {
    text-align: right;
}